---
import { type Event } from '../data/events';
import { formatInTimeZone } from 'date-fns-tz';
import { id } from 'date-fns/locale';
import QRCode from 'qrcode';

interface Props {
  event: Event;
  debug?: boolean;
}

const { event, debug = false } = Astro.props;

const wibTimeZone = 'Asia/Jakarta';
const countdownId = `countdown-${Math.random().toString(36).substr(2, 9)}`;

// Generate QR code
const qrCodeDataUrl = await QRCode.toDataURL(event.url, {
  width: 100,
  margin: 1,
  color: {
    dark: '#000000',
    light: '#ffffff',
  },
});

// Custom function to format date in Indonesian
function formatIndonesianDate(date: Date): string {
  const days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'];
  const months = ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Agu', 'Sep', 'Okt', 'Nov', 'Des'];
  
  const dayName = days[date.getDay()];
  const day = date.getDate();
  const monthName = months[date.getMonth()];
  const year = date.getFullYear();

  return `${dayName}, ${day} ${monthName} ${year}`;
}

---

<div class={`event-card ${debug ? 'debug-mode' : ''}`}>
  <div class="card-inner">
    <div class="card-back">
      <img src="/images/card-back.jpg" alt="Card Back" />
    </div>
    <div class="card-front flex flex-col justify-start items-start p-6">
      <img src={event.image} alt={event.name} class="event-image rounded-2xl object-cover border-4 border-black/10 shadow-2xl mx-auto w-full" />
      <h2 class="text-4xl font-bold text-black/80 font-anybody text-center w-full leading-tight mt-6 mb-0">{event.name}</h2>
      <div id={countdownId} class="countdown text-6xl font-bold text-secondary/80 font-anybody flex justify-center w-full leading-tight mb-4"></div>
      <p class="event-date text-2xl text-black/80 font-bold font-anybody flex justify-center w-full leading-tight">
        {formatIndonesianDate(new Date(event.datetime))}
      </p>
      <p class="event-time text-2xl text-black/80 font-anybody flex justify-center w-full leading-tight mb-2">
        {formatInTimeZone(event.datetime, wibTimeZone, "HH:mm 'WIB (GMT +7)'", { locale: id })}
      </p>
      <div class="qr-code-container mt-2 mx-auto">
        <img src={qrCodeDataUrl} alt="Event QR Code" class="qr-code rounded-2xl object-cover border-4 border-black/10 shadow-2xl h-full w-full" />
      </div>
    </div>
  </div>
</div>

<style>
  .event-card {
    width: 600px;
    height: 900px;
    perspective: 2000px;
    background-color: transparent;
  }
  .event-card:not(.debug-mode) {
    animation: 
      popIn 0.5s ease-out,
      floatingCard 3s ease-in-out infinite 0.5s;
  }
  .card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  .event-card:not(.debug-mode) .card-inner {
    animation: spinAndFlip 5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    animation-delay: 2s;
  }
  .debug-mode .card-inner {
    transform: rotateY(180deg);
  }
  .card-back, .card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  .card-back {
    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
  }
  .card-front {
    transform: rotateY(180deg);
    background-image: url('/images/bg-roses.png');
    background-size: cover;
    background-position: center;
    background-color: white !important;
  }
  .event-image {
    width: 90%;
    height: auto;
    max-height: 400px; /* Adjust as needed */
  }
  h2 {
    font-size: 2.4em;
    margin-bottom: 20px;
  }
  .countdown {
    /* font-size: 2.4em; */
    margin-bottom: 20px;
  }
  .event-date, .event-time {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  @keyframes popIn {
    0% {
      transform: scale(0) rotate(180deg);
      opacity: 0;
    }
    80% {
      transform: scale(1.1) rotate(-10deg);
      opacity: 1;
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }
  @keyframes spinAndFlip {
    0% { transform: rotateY(0deg); }
    25% { transform: rotateY(1150deg); }
    100% { transform: rotateY(1260deg); }
  }
  @keyframes floatingCard {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }

  .qr-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .qr-code {
    width: 200px;
    height: 200px;
  }
</style>

<script define:vars={{ event, countdownId, wibTimeZone }}>
  function updateCountdown() {
    const now = new Date().getTime();
    const eventTime = new Date(event.datetime).getTime();
    const timeLeft = eventTime - now;

    const countdownElement = document.getElementById(countdownId);

    if (timeLeft < 0) {
      countdownElement.innerHTML = 'Event has started!';
      return;
    }

    const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
    const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

    countdownElement.innerHTML = `${days}d ${hours}h ${minutes}m ${seconds}s`;
  }

  updateCountdown();
  setInterval(updateCountdown, 1000);
</script>